    page-login {
     
        .spacer{
            padding: 15%;
        }
        .fixed-content{
                background-color:#26C6DA;
         }
         
         .card-header-md{
             text-align: center;
             font-size: 20px;
         }

         .errorsMsg{
            color: brown;
            padding-top: 1%;
          }

    }
